<ul class="nav nav-tabs">
  <li class="active">
    <%= link_to "Home", root_path %>
  </li>
  <li>
    <%= link_to "Projects", projects_path %>
  </li>
  <li class="disabled">
    <a href="#">Messages</a>
  </li>
  <li class="dropdown pull-right">
     <a href="#" data-toggle="dropdown" class="dropdown-toggle">Account<strong class="caret"></strong></a>
    <ul class="dropdown-menu">
      <li>
        <%= link_to "Edit Account", edit_user_registration_path %>
      </li>
      <li class="divider"></li>
      <li>
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
      </li>
    </ul>
  </li>
</ul>
