<h1><%= @project.name %></h1>
<div class="list-group">
  <% @project.phases.each do |phase| %>
  <div class="list-group-item">
    <h4 class="list-group-item-heading"><%= phase.name %></h4>
    <%= render phase.tasks %>
  </div>
  <% end %>
</div>
