<h1><%= @project.name %></h1>
<div>
  <div class="panel-group">
  <% @project.phases.each do |phase| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4><strong><%= phase.name %></strong></h4>
      </div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th> Task Name </th>
            <th class="text-center"> Start Date </th>
            <th class="text-center"> End Date </th>
            <th class="text-center"> Due Date </th>
            <th class="text-center"> Status </th>
          </tr>
        </thead>
        <tbody>
          <%= render phase.tasks %>
        </tbody>
      </table>
    </div>
  <% end %>
  </div>
</div>
