.task-header {
  font-weight: bold;
  border-bottom-width:2px;
  border-bottom-color: #DDDDDD;
  border-bottom-style: solid;
}

.task-icons {
  font-size: 1.5em;
  text-decoration: none;
}

.task-icons:hover {
  text-decoration: none;
  color: black;
}

.task-icons:focus {
  text-decoration: none;
}

.row-task {
  padding-top: 8px;
  padding-bottom: 8px;
}

.col-days {
  padding-left: 5px;
  padding-right: 5px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
